{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="background-container">
    <div class="container home-header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-7 my-auto">
                <h1 class="display-4 welcome-font">
                    Welcome to Pet Market
                </h1>
                <h3>Your one-stop destination for all your pet needs</h3>
                <div class="mt-5">
                    <a href="{% url 'products' %}"
                        class="btn btn-primary btn-lg rounded-pill text-uppercase py-3 shop-now-button">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{{ block.super }}
<h2 class="logo-font mb-4">My Test</h2>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Subscribe to Our Newsletter</h2>
        <form id="subscriptionForm" method="post" action="{% url 'subscribe_newsletter' %}">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            <button type="submit">Subscribe</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<!-- <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script> -->
<script>
        console.log("JavaScript code is executing.");
        // Get the modal element
        var modal = document.getElementById("myModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
            
        // When the page loads, show the modal
        window.onload = function () {
            modal.style.display = "block";
            console.log("window onload working.");
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
    }
</script>
{% endblock %}