{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Newsletter Subscribers</h1>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Email</th>
                <th>Subscribed At</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers %}
            <tr>
                <td>{{ subscriber.email }}</td>
                <td>{{ subscriber.subscribed_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block postloadjs %}

{% endblock %}