<script>
    function validateQuantity(input) {
        if (input.value < 1) {
            input.value = 1; // Set the value to 1 if it's less than 1
        } else if (input.value > 99) {
            input.value = 99; // Set the value to 99 if it exceeds the maximum
        }
    }


    $(document).ready(function () {
        $('.btn-plus').click(function() {
            var input = $(this).closest('.input-group').find('.quantity-input');
            var newValue = parseInt(input.val()) + 1;
            input.val(newValue);
        });

        $('.btn-minus').click(function() {
            var input = $(this).closest('.input-group').find('.quantity-input');
            var newValue = parseInt(input.val()) - 1;
            if (newValue >= 1) {
                input.val(newValue);
            }
        });

        $(".qty_input").on('input', function () {
            var inputValue = parseInt($(this).val());
            var minValue = parseInt($(this).attr("min"));
            var maxValue = parseInt($(this).attr("max"));

            if (isNaN(inputValue) || inputValue < 1) {
                $(this).val(1); // Set to minimum value if less than 1 or NaN
            } else if (maxValue && inputValue > maxValue) {
                $(this).val(maxValue); // Set to maximum value if greater than maxValue
            }
        });
    });
</script>