/* Resetting default margin and padding */
html,
body {
    margin: 0;
    padding: 0;
}

/* Setting background image for the body */
body {
    color: #555;
    font-family: 'Montserrat', sans-serif; /* Montserrat as the body font */
}

.background-container {
    background: url('/media/background_image.png') no-repeat center top;
    background-size: cover;
    min-height: calc(100vh - 164px); /* Adjusted height */
    padding-top: 50px; /* Ensure content below header */
}

/* Styling for the welcome message */
.welcome-font {
    text-transform: uppercase;
    color: #000;
}

/* Styling for the shop now button */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

/* Hover effect for the shop now button */
.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus {
    background: #222;
    color: white;
}

/* Media query for larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* Media query for fixed top navbar on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .home-header-container {
        /* padding-top: 164px; */
    }
}

/* category-bar  */


.header-container .header-category-bar {
    background-color: #1e65ad;
    padding: 10px 0; 
}

.header-container .header-category-bar .nav-link {
    color: #333; 
    font-weight: bold; 
}

.header-container .header-category-bar .nav-link:hover {
    color: #555; 
}
