<div class="header-category-bar">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            All Products
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#">By Price</a>
                            <a class="dropdown-item" href="#">By Rating</a>
                            <a class="dropdown-item" href="#">By Category</a>
                            <a class="dropdown-item" href="#">All Products</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="petFoodsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pet Foods
                        </a>
                        <div class="dropdown-menu" aria-labelledby="petFoodsDropdown">
                            <a class="dropdown-item" href="#">Dry Food</a>
                            <a class="dropdown-item" href="#">Wet Food</a>
                            <a class="dropdown-item" href="#">Grain-Free</a>
                            <a class="dropdown-item" href="#">Natural/Organic</a>
                            <a class="dropdown-item" href="#">Prescription Diet</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="supplementsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Supplements
                        </a>
                        <div class="dropdown-menu" aria-labelledby="supplementsDropdown">
                            <a class="dropdown-item" href="#">Joint Health</a>
                            <a class="dropdown-item" href="#">Digestive Health</a>
                            <a class="dropdown-item" href="#">Skin and Coat</a>
                            <a class="dropdown-item" href="#">Vitamins and Minerals</a>
                            <a class="dropdown-item" href="#">Calming Aids</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accessoriesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Accessories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="accessoriesDropdown">
                            <a class="dropdown-item" href="#">Collars and Leashes</a>
                            <a class="dropdown-item" href="#">Beds and Furniture</a>
                            <a class="dropdown-item" href="#">Toys and Chews</a>
                            <a class="dropdown-item" href="#">Grooming Supplies</a>
                            <a class="dropdown-item" href="#">Training Aids</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>