{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">About Pet Market</h2>
            <p>Pet Market is your premier destination for all things pet-related. With a passion for animal welfare and a commitment to excellence, we strive to provide the best products and services to pets and their owners alike.</p>

            <h3 class="mt-5">Our Vision</h3>
            <p class="text-justify">To lead the digital pet industry by offering a diverse range of premium products, personalized services, and expert guidance, fostering a world where every pet and their owner experience unparalleled joy, health, and companionship.</p>

            <h3 class="mt-5">Our Mission</h3>
            <p class="text-justify">At Pet Market, our mission is to empower pet owners with convenient access to superior-quality pet essentials, nutritional solutions, and compassionate support, ensuring every pet thrives in a loving home environment. By prioritizing customer satisfaction, pet welfare, and community engagement, we aim to redefine the online pet shopping experience with trust, reliability, and innovation.</p>

            <h3 class="mt-5">Vision for the Future</h3>
            <p class="text-justify">We envision a future where Pet Market becomes the go-to destination for pet owners worldwide, offering an extensive range of products, resources, and services to enhance the lives of pets and their families. Through continuous innovation, ethical practices, and a deep-rooted commitment to animal welfare, we aim to set new standards in the pet industry while inspiring a greater sense of responsibility and care towards our furry companions.</p>

            <h3 class="mt-5">Our Values</h3>
            <ul>
                <li><strong>Passion:</strong> We are passionate about pets and dedicated to providing exceptional care and support to every animal.</li>
                <li><strong>Integrity:</strong> We uphold the highest standards of honesty, transparency, and ethical conduct in all our endeavors.</li>
                <li><strong>Innovation:</strong> We embrace innovation and constantly strive to improve our products, services, and processes for the benefit of pets and their owners.</li>
                <li><strong>Community:</strong> We foster a sense of community among pet lovers and actively engage in initiatives that promote pet welfare and well-being.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
