{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="text-center">
                <h1 class="display-4 mb-4">Welcome to Pet Market</h1>
                <p class="lead">Your premier destination for all things pet-related.</p>
            </div>
            <hr class="my-4">

            <div class="mb-5">
                <h2 class="text-center mb-4">About Pet Market</h2>
                <p>Pet Market is your go-to place for high-quality pet products and services. With a passion for animal welfare and a commitment to excellence, we strive to provide the best for pets and their owners.</p>
            </div>

            <div class="mb-5">
                <h3 class="text-center mb-4">Our Vision</h3>
                <p class="text-justify">To lead the digital pet industry by offering a diverse range of premium products, personalized services, and expert guidance, fostering a world where every pet and their owner experience unparalleled joy, health, and companionship.</p>
            </div>

            <div class="mb-5">
                <h3 class="text-center mb-4">Our Mission</h3>
                <p class="text-justify">At Pet Market, our mission is to empower pet owners with convenient access to superior-quality pet essentials, nutritional solutions, and compassionate support, ensuring every pet thrives in a loving home environment. By prioritizing customer satisfaction, pet welfare, and community engagement, we aim to redefine the online pet shopping experience with trust, reliability, and innovation.</p>
            </div>

            <div class="mb-5">
                <h3 class="text-center mb-4">Vision for the Future</h3>
                <p class="text-justify">We envision a future where Pet Market becomes the go-to destination for pet owners worldwide, offering an extensive range of products, resources, and services to enhance the lives of pets and their families. Through continuous innovation, ethical practices, and a deep-rooted commitment to animal welfare, we aim to set new standards in the pet industry while inspiring a greater sense of responsibility and care towards our furry companions.</p>
            </div>

            <div class="mb-5">
                <h3 class="text-center mb-4">Our Values</h3>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Passion:</strong> We are passionate about pets and dedicated to providing exceptional care and support to every animal.</li>
                    <li class="list-group-item"><strong>Integrity:</strong> We uphold the highest standards of honesty, transparency, and ethical conduct in all our endeavors.</li>
                    <li class="list-group-item"><strong>Innovation:</strong> We embrace innovation and constantly strive to improve our products, services, and processes for the benefit of pets and their owners.</li>
                    <li class="list-group-item"><strong>Community:</strong> We foster a sense of community among pet lovers and actively engage in initiatives that promote pet welfare and well-being.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
