{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Messages</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in contact_messages %}
                            <tr>
                                <td>{{ m.name }}</td>
                                <td>{{ m.email }}</td>
                                <td>{{ m.message }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">No contact messages available.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
