{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Contact Us</h2>
            <p>Have questions or feedback? Reach out to us using the form below.</p>
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}
