{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image_url_first %}
                <a href="{{ product.image_url_first }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image_url_first }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                <div class="mt-3">
                    {% if product.ingredients %}
                    <p><strong>Ingredients:</strong> {{ product.ingredients }}</p>
                    {% endif %}
                    {% if product.calory_content %}
                    <p><strong>Calory Content:</strong> {{ product.calory_content }}</p>
                    {% endif %}
                    {% if product.nutrition_analysis %}
                    <p><strong>Nutrition Analysis:</strong> {{ product.nutrition_analysis }}</p>
                    {% endif %}
                    {% if product.feeding_instructions %}
                    <p><strong>Feeding Instructions:</strong> {{ product.feeding_instructions }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h2>{{ product.name }}</h2>
                <p class="lead mb-3 font-weight-bold">${{ product.price }}</p>
                <p><strong>Brand:</strong> {{ product.brand }}</p>
                <p><strong>SKU:</strong> {{ product.sku }}</p>
                <p><strong>GTIN12:</strong> {{ product.gtin12 }}</p>
                <p><strong>Breadcrumb:</strong> {{ product.breadcrumb }}</p>
                <p><strong>Description:</strong> {{ product.description }}</p>
                <p><strong>Availability:</strong> {{ product.availability }}</p>
                <p><strong>Category:</strong>
                    {% if product.category %}
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name |urlencode }}">
                        {{ product.category.name }}
                    </a>
                    {% else %}
                    Not specified
                    {% endif %}
                </p>
                <p><strong>Rating:</strong>
                    {% if product.average_rating %}
                    {{ product.average_rating|floatformat:1 }} / 5
                    {% else %}
                    No Rating
                    {% endif %}
                </p>
                <p><strong>Reviews Count:</strong>
                    {% if product.reviews_count %}
                    {{ product.reviews_count }}
                    {% else %}
                    No Reviews Yet
                    {% endif %}
                </p>
                {% if request.user.is_superuser %}
                <p>
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                </p>
                {% endif %}
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-dark  btn-minus" type="button">-</button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-dark  btn-plus" type="button">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-dark rounded-0 text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_modify_script.html' %}
{% endblock %}